<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="splash__text2">Magasin Lekolis </div>
        </ion-title>

        <!-- <h6>splash-2.html</h6>  -->
    </ion-toolbar>


    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">

    <link rel="stylesheet" href="../../vendor/swiper/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">


    <ion-toolbar class="search-toolbar">
        <div class="header__icon header--page ">



            <div class="col-lg-12">
                <div class="pull-left">
                    <a href="https://google.com/.html"> <img src="./assets/notify2.png" alt="" title=""> </a>
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <div class="header__icon header__icon--menu open-panel" data-panel="left"> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                        </div>
                    </div>
                    <div class="txt001"> patrouille de jour 15/11/2021</div>
                </div>
            </div>
        </div>

        <div class="espace3"></div>
        <div class="espace3"></div>
        <div class="espace4"></div><br>





    </ion-toolbar>

</ion-header>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
<script type="text/javascript" async="" src="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/ga.js"></script>
<script src="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/jquery-1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.tabledit.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/demo.css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/draganddrop.css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/bootstrap.html" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/style.css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/swiper.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<ion-content>




    <div class="page page--main" data-page="shop">
        <div>
            <div class="row align-items-center  ">

                <div class="row ">
                    <div class="elemento">
                        <div class="table  ">
                            <div>
                                <div class="swiper-container slider-init-swipe cart__item" id="item0">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide cart__item-details">
                                            <div>

                                                <div class="da-2te1"> Commande prête </div>
                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div>
                                                <img class="imgdatte" src="../../assets/images/p30.png">
                                                <div class="nomdate">khalid  </div>

                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div> <img class="imgtlb" src="../../assets/images/p33.png">
                                                <div class="date1">N°113 Rue riyad sallam 26102 aggadir </div>
                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div> <img class="imgtlb" src="../../assets/images/p21.png">
                                                <div class="date1"> Date de livraison 17 septembre 2021 </div>



                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div>
                                                <div class="tlbaya4">
                                                    <div class="tlbaya2"> N°de commande </div>
                                                    <br>
                                                    <div class="tlbaya3">FGD-01254789</div>
                                                </div>
                                                <div class="tlbaya5">
                                                    <div class="tlbaya2"> prix commande </div>
                                                    <br>
                                                    <div class="tlbaya3"> 9450 DH </div>
                                                </div>
                                                <div class="table__row"> </div>
                                                <a href="splash3">
                                                    <div class="btn_1_tlb">Détails </div>
                                                </a>

                                                <a href="splash5">
                                                    <div class="btn_2_tlb">Charger </div>

                                                </a>


                                                <div class="clr"></div>
                                            </div>
                                        </div>
                                        <!-- <div class="swiper-slide cart__item-delete"><a href="#" class="delete-item" data-delete-item="0">حدف </a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="elemento">
                        <div class="table">
                            <div>


                                <div class="swiper-container slider-init-swipe cart__item" id="item1">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide cart__item-details">
                                            <div>

                                                <div class="da-3te1"> commande attend </div>
                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div>
                                                <img class="imgdatte" src="../../assets/images/p30.png">
                                                <div class="nomdate"> youness  </div>

                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div> <img class="imgtlb" src="../../assets/images/p33.png">
                                                <div class="date1">N°113 Rue riyad sallam 26102 agadir </div>
                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div> <img class="imgtlb" src="../../assets/images/p21.png">
                                                <div class="date1"> Date de livraison 17 septembre 2021 </div>


                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div>
                                                <div class="tlbaya4">

                                                    <div class="tlbaya2"> N°de commande </div>
                                                    <br>
                                                    <div class="tlbaya3">FGD-01254789</div>
                                                </div>
                                                <div class="tlbaya5">
                                                    <div class="tlbaya2"> prix commande </div>
                                                    <br>
                                                    <div class="tlbaya3"> 9450 DH </div>
                                                </div>
                                            </div>
                                            <div class="table__row"> </div>
                                            <a href="splash3">
                                                <div class="btn_1_tlb"> Détails</div>

                                            </a>

                                            <div class="datetwsli"> Livraison effectuée le <br> <span>14 /11/ 2021 | 10:57 </span></div>


                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                    <!-- <div class="swiper-slide cart__item-delete"><a href="#" class="delete-item" data-delete-item="1">حدف </a></div> -->
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="elemento">
                        <div class="table">
                            <div>
                                <div class="swiper-container slider-init-swipe cart__item" id="item2">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide cart__item-details">
                                            <div>
                                                <div class="da-5te1">commande refuse </div>
                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div>
                                                <img class="imgdatte" src="../../assets/images/p30.png">
                                                <div class="nomdate">khalid i </div>

                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div> <img class="imgtlb" src="../../assets/images/p33.png">
                                                <div class="date1">N°113 Rue riyad sallam 26102 aggadir </div>
                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div> <img class="imgtlb" src="../../assets/images/p21.png">
                                                <div class="date1"> Date de livraison 17 septembre 2021 </div>


                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div>
                                                <div class="tlbaya4">

                                                    <div class="tlbaya2"> N°de commande </div>
                                                    <br>
                                                    <div class="tlbaya3">FGD-01234789</div>
                                                </div>
                                                <div class="tlbaya5">
                                                    <div class="tlbaya2">prix commande </div>
                                                    <br>
                                                    <div class="tlbaya3">9450 DH</div>
                                                </div>
                                            </div>
                                            <div class="table__row"> </div>
                                            <a href="splash3">
                                                <div class="btn_1_tlb"> Détails</div>

                                            </a>
                                            <span></span>
                                            <div class="datetwsli2"> refuse demmand <br> <span>Rupture de stock </span></div>



                                            <div class="clr"></div>

                                        </div>
                                    </div>
                                    <!-- <div class="swiper-slide cart__item-delete"><a href="#" class="delete-item" data-delete-item="2">حدف </a></div> -->
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="elemento">
                        <div class="table">
                            <div>
                                <div class="swiper-container slider-init-swipe cart__item" id="item3">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide cart__item-details">
                                            <div>
                                                <div class="da-1te1">commande accept </div>
                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div>
                                                <img class="imgdatte" src="../../assets/images/p30.png">
                                                <div class="nomdate">khalid i </div>

                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div> <img class="imgtlb" src="../../assets/images/p33.png">
                                                <div class="date1">N°113 Rue riyad sallam 26102 aggadir </div>
                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div> <img class="imgtlb" src="../../assets/images/p21.png">
                                                <div class="date1"> Date de livraison 17 septembre 2021 </div>



                                                <div class="clr"></div>
                                                <div class="lineht2"></div>
                                                <div class="clr"></div>
                                                <div class="tlbaya4">
                                                    <div class="tlbaya2"> N°de commande </div>
                                                    <br>
                                                    <div class="tlbaya3">FGD-01254789</div>
                                                </div>
                                                <div class="tlbaya5">
                                                    <div class="tlbaya2"> prix commande </div>
                                                    <br>
                                                    <div class="tlbaya3"> 9450 DH </div>
                                                </div>
                                                <div class="table__row"> </div>
                                                <a href="splash3">
                                                    <div class="btn_1_tlb">Détails </div>
                                                </a>

                                                <a href="splash5">
                                                    <div class="btn_2_tlb">Charger </div>

                                                </a>


                                                <div class="clr"></div>
                                            </div>
                                        </div>
                                        <!-- <div class="swiper-slide cart__item-delete"><a href="#" class="delete-item" data-delete-item="3">حدف </a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>



        </div>
    </div>

    <div class="videud"></div>


</ion-content>


<!-- PAGE END -->
<div class="row">
    <div class="bottom-navigation ">
        <div class="pali bottom-navigation__icons ">
            <div>
                <a href="# " data-panel="right " class="open-panel "><img src="../../assets/images/groceries.png " alt="" title="">
                    <!-- <span>متجر    </span> -->
                </a>

            </div>
            <div>
                <a href="user-profile.html"> <img src="../../assets/images/gifts.png" alt="" title="">
                    <!-- <span>حقيبة    </span>  -->
                </a>
            </div>
            <div>
                <a href="#"> <img src="../../assets/images/favorites.png" alt="" title="">
                    <!-- <span>مكافأة     </span>  -->
                </a>
            </div>

        </div>
    </div>
</div>
