<ion-header>
    <ion-toolbar>

        <ion-title>
            <div class="splash__text2">Magasin Lekolis </div>
        </ion-title>
    </ion-toolbar>


    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">

    <link rel="stylesheet" href="../../vendor/swiper/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">


    <ion-toolbar class="search-toolbar">
        <div class="header__icon header--page ">



            <div class="col-lg-12">
                <div class="pull-left">
                    <a href="https://google.com/.html"> <img src="./assets/notify2.png" alt="" title=""> </a>
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <div class="header__icon header__icon--menu open-panel" data-panel="left"> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                        </div>
                    </div>
                    <div class="txt001"> Feuille de route 15/11/2021 </div>
                </div>
            </div>
        </div>

        <div class="header__icon header__icon--cart">
            <a href="cart.html"> <img src="../../assets/images/notify2.png" alt="" title="" /> </a>
        </div>


        <div class="back5white">
            <div class="pectext2"> Numéro d'expédition 3355820 </div>
        </div>
        <div class="back7white">
            <div class="tex1">
                <div class="tex2"> distance totale</div>
                <div class="tex3">900 KM </div>
            </div>
            <div class="tex1">
                <div class="tex2">utile totale </div>
                <div class="tex3">300 unite </div>
            </div>
            <div class="tex1">
                <div class="tex2">Comme totale </div>
                <div class="tex3">3</div>
            </div>


            <div class="clr"></div>
        </div>
        <!-- <div>  <div>
              <h3>نقط الدورية </h3>
          </div>
      </div>-->
        <!-- <div class="pull-right">
      <div class="tlbaya6 btn btn-primary off">ترتيب </div>
  </div>-->




    </ion-toolbar>

</ion-header>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
<script type="text/javascript" async="" src="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/ga.js"></script>
<script src="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/jquery-1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.tabledit.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/demo.css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/draganddrop.css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/bootstrap.html" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/style.css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/swiper.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<ion-content>




    <div class="page page--main" data-page="shop">
        <div>
            <div class="row align-items-center  ">

                <div class="row ">
                    <div class="table  ">
                        <!-- <div class="tablex1  "> -->
                        <div class="elemento">
                            <div>
                                <div>
                                    <div class="clr"></div>

                                    <div class="swiper-container slider-init-swipe cart__item">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide cart__item-details">


                                                <div>


                                                    <div class="left03"> <img class="pict05" src="../../assets/images/g6.png">
                                                        <div class="fdrtxt4">FGD-01254789</div>
                                                    </div>

                                                    <div class="righ03">
                                                        <div class="fdrtxt3">livree 1 </div>
                                                    </div>


                                                    <div class="clr"></div>
                                                    <div class="lineh-t2"></div>
                                                    <div class="clr"></div>
                                                    <div class="clr"></div>

                                                    <div class="righ04">
                                                        <img src="../../assets/images/men86.png" class="imgtex">
                                                        <div class="fdrtxt2">marakech </div>
                                                        <div class="fdrtxt6">palmier</div>
                                                        <div class="fdrtxt7">18h30 - 20/04/21</div>
                                                    </div>


                                                    <div class="lef04">
                                                        <div class="rndbra3"></div>
                                                        <div class="fdrtxt2"> casa </div>
                                                        <div class="fdrtxt6">maarif </div>
                                                        <div class="fdrtxt7">18h30 - 20/04/21</div>

                                                    </div>

                                                    <div class="imgtex2">
                                                        <div class="kmtex">350 km </div>
                                                        <div class="imgtex3"></div>
                                                    </div>

                                                    <div class="clr"></div>
                                                    <div class="clr"></div>
                                                    <div class="lineh-t2"></div>
                                                    <div class="clr"></div>
                                                    <div class="righ01"><img class="imgtex4" src="../../assets/images/p30.png">
                                                        <div class="fdrtxt8"> khalid i</div>
                                                    </div>
                                                    <div class="cnt01">

                                                        <div class="clr"></div>
                                                        <div class="lineh-t2"></div>
                                                        <div class="clr"></div>


                                                        <div class="fdrtxt-6">Adresse de livraison </div>
                                                        <div class="righ03">
                                                            <div class="fdrtxt-5">
                                                                <p>Rue Socrate, Rue darb <br> ralaf n°11 Casablanca </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clr"></div>
                                                    <div class="lineh-t2"></div>
                                                    <div class="clr"></div>
                                                    <div>
                                                        <a href="splash6">
                                                            <div class="goat">enter</div>
                                                        </a>
                                                    </div>




                                                    <div class="clr"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>






                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clr"></div>

                <div class="clr"></div>
                <div class="clr"></div>
                <div class="row ">
                    <div class="table  ">
                        <!-- <div class="tablex1  "> -->
                        <div class="elemento">
                            <div>
                                <div>
                                    <div class="clr"></div>

                                    <div class="swiper-container slider-init-swipe cart__item">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide cart__item-details">


                                                <div>


                                                    <div class="left03"> <img class="pict05" src="../../assets/images/g6.png">
                                                        <div class="fdrtxt4">FGD-01254789</div>
                                                    </div>

                                                    <div class="righ03">
                                                        <div class="fdrtxt3">livree 2 </div>
                                                    </div>


                                                    <div class="clr"></div>
                                                    <div class="lineh-t2"></div>
                                                    <div class="clr"></div>
                                                    <div class="clr"></div>

                                                    <div class="righ04">
                                                        <img src="../../assets/images/men86.png" class="imgtex">
                                                        <div class="fdrtxt2">marakech </div>
                                                        <div class="fdrtxt6">palmier</div>
                                                        <div class="fdrtxt7">10h30 - 20/11/21</div>
                                                    </div>


                                                    <div class="lef04">
                                                        <div class="rndbra3"></div>
                                                        <div class="fdrtxt2"> casa </div>
                                                        <div class="fdrtxt6">maarif </div>
                                                        <div class="fdrtxt7">18h30 - 21/11/21</div>

                                                    </div>

                                                    <div class="imgtex2">
                                                        <div class="kmtex">350 km </div>
                                                        <div class="imgtex3"></div>
                                                    </div>

                                                    <div class="clr"></div>
                                                    <div class="clr"></div>
                                                    <div class="lineh-t2"></div>
                                                    <div class="clr"></div>
                                                    <div class="righ01"><img class="imgtex4" src="../../assets/images/p30.png">
                                                        <div class="fdrtxt8"> khalid i </div>
                                                    </div>
                                                    <div class="cnt01">

                                                        <div class="clr"></div>
                                                        <div class="lineh-t2"></div>
                                                        <div class="clr"></div>


                                                        <div class="fdrtxt-6">Adresse de livraison </div>
                                                        <div class="righ03">
                                                            <div class="fdrtxt-5">
                                                                <p>Rue Socrate, Rue darb <br> ralaf n°11 Casablanca </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clr"></div>
                                                    <div class="lineh-t2"></div>
                                                    <div class="clr"></div>
                                                    <div>
                                                        <a href="splash6">
                                                            <div class="goat">enter</div>
                                                        </a>
                                                    </div>




                                                    <div class="clr"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>






                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>






            </div>

        </div>
    </div>

    <div class="videud"></div>


</ion-content>


<!-- PAGE END -->
<div class="row">
    <div class="bottom-navigation ">
        <div class="pali bottom-navigation__icons ">
            <div>
                <a href="# " data-panel="right " class="open-panel "><img src="../../assets/images/groceries.png " alt="" title="">
                    <!-- <span>متجر    </span> -->
                </a>

            </div>
            <div>
                <a href="user-profile.html"> <img src="../../assets/images/gifts.png" alt="" title="">
                    <!-- <span>حقيبة    </span>  -->
                </a>
            </div>
            <div>
                <a href="#"> <img src="../../assets/images/favorites.png" alt="" title="">
                    <!-- <span>مكافأة     </span> -->
                </a>
            </div>

        </div>
    </div>
</div>
