<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <div class="splash__text2">lekolis</div>
        </ion-title>
        <!-- <h6>log-in.html</h6>  -->
    </ion-toolbar>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
    <link rel="stylesheet" href="../../vendor/swiper/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</ion-header>


<ion-content [fullscreen]="true">

    <div class="row">
        <div class="elemento">
            <div class="col-12">
                <div class="page page--splash" data-page="splash">
                    <img class="logobar4" src="../../assets/images/spedire.png">
                    <div class="pad003">
                        <div class="splash__text2">
                            Connectez-vous à l'application lekolis </div>

                        <div class="">




                            <div class="form__row">
                                <div class="form-container">
                                    <ion-item>
                                        <ion-label position="floating">Email</ion-label>
                                        <ion-input></ion-input>
                                    </ion-item>
                                    <div class="clr"></div>
                                    <div class="lineht2"></div>
                                    <div class="clr"></div>

                                    <!-- <div class="pull-right">
                                          <img src="./assets/images/identity-card.png" class="padlock">
                                      </div> -->
                                    <ion-item>
                                        <ion-label position="floating">Password</ion-label>
                                        <ion-input type="password"></ion-input>
                                        <!-- <ion-icon name="eye" slot="end"></ion-icon> -->
                                    </ion-item>
                                    <div class="clr"></div>
                                    <div class="lineht2"></div>
                                    <div class="clr"></div>

                                    <div class="pad003">
                                        <a href="splash1">
                                            <div class="btn01 "> Login </div>

                                        </a>
                                    </div>

                                </div>

                            </div>


                            <div> <br></div>
                            <div class="clr"></div>
                            <div class="lineht2"></div>
                            <div> <br></div>
                            <div class="clr"></div>



                            <div class="itslbn">

                                <img src="../../assets/images/call.png">
                                <div class="itslbn2">Contactez-nous

                                </div>

                            </div>

                            <div class="itslbn3">
                                <img src="../../assets/images/fr.png" class="flag">
                            </div>
                            <div class=""></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<!-- PAGE END -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://www.cmstrader.com/content/lps/tmp/js/prism.js'></script>
<script src='https://www.cmstrader.com/content/lps/tmp/js/intlTelInput.js?1501407258255'></script>
<script src='https://www.cmstrader.com/content/lps/tmp/js/defaultCountryIp.js?1501407258255'></script>
<script src='https://www.cmstrader.com/content/lps/tmp/js/utils.js'></script>
<script src="../../vendor/jquery/jquery.validate.min.js"></script>
<script src="../../vendor/swiper/swiper.min.js"></script>
<script src="js/jquery.custom.js"></script>
<script src="js/flag.js"></script>
