<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="splash__text2">Magasin Lekolis </div>
        </ion-title>

    </ion-toolbar>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">

    <link rel="stylesheet" href="../../vendor/swiper/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</ion-header>

<ion-content>

    <div class="page page--main" data-page="shop">
        <div>
            <div class="row align-items-center justify-content-center">

                <div class="row">
                    <div class="contenedor">
                        <div class="elemento">
                            <div>
                                <div class="header__icon header__icon--menu open-panel" data-panel="left">
                                </div>
                                <div class="header__logo header__logo--text">
                                    <!-- <img src="../../assets/images/logo.png"> -->
                                    <div class="txt001">Livraisons </div>
                                </div>


                                <div>
                                    <img src="../../assets/images/spedire2.png " class="p32 ">
                                    <div class="splash__text "> Bienvenue
                                        <div class="splash__text4 "> Monsieur Khaled  </div>
                                    </div>

                                    <div class="splash__text6 ">
                                        <p>Vous pouvez voir toutes les commandes que vous avez à livrer avec la possibilité d'organiser. </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="elemento">

                        <a href="splash2 " class="btn-0 button button--full "><img src="../../assets/images/g2.png " class="picnic-b ">
                            <div class="dwauj "> Expedition des colis </div>
                            <div class="txtbtn01 ">3</div>
                        </a>
                    </div>
                    <div class="clr "></div>
                    <div class="elemento">
                        <a href="splash2 " class="btn-0 button button--full  "><img src="../../assets/images/g1.png " class="picnic-b ">
                            <div class="dwauj "> Les patrouilles </div>
                            <div class="txtbtn01 ">6</div>
                        </a>
                    </div>
                    <div class="clr "></div>
                    <div class="elemento">
                        <a href="splash2 " class="btn-0 button button--full  "><img src="../../assets/images/g3.png " class="picnic-b ">
                            <div class="dwauj "> Résumé de la revue </div>
                            <div class="txtbtn01 ">17</div>
                        </a>
                    </div>
                    <div class="clr "></div>
                    <div class="elemento">
                        <a href="splash2 " class="btn-0 button button--full "><img src="../../assets/images/g5.png " class="picnic-b ">
                            <div class="dwauj "> Résumé de la revue </div>
                            <div class="txtbtn01 ">17</div>
                        </a>
                    </div>


                </div>

            </div>
        </div>


        <div class="clr "></div>
    </div>
    <!-- PAGE END -->




</ion-content>
<div>
    <div class="clr "></div>
    <div class="bottom-navigation ">
        <div class="pali bottom-navigation__icons ">
            <div>
                <a href="# " data-panel="right " class="open-panel ">
                    <img src="../../assets/images/hourglass.png " alt=" " title=" ">
                    <!-- <h6>أرشيف </h6> -->
                </a>
            </div>
            <div>
                <a href="user-profile.html ">
                    <img src="../../assets/images/notify.png " alt=" " title=" ">
                    <!-- <h6>إشعارات </h6> -->
                </a>
            </div>


        </div>
    </div>
</div>
