<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="splash__text2">Magasin Lekolis </div>
        </ion-title>

    </ion-toolbar>
</ion-header>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
<script type="text/javascript" async="" src="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/ga.js"></script>
<script src="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/jquery-1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.tabledit.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/demo.css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/draganddrop.css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/bootstrap.html" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/style.css">
<link rel="stylesheet" href="%D9%85%D8%AA%D8%AC%D8%B1%20%D8%A7%D9%84%D8%A8%D8%B1%D9%83%D8%A9_fichiers/swiper.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<ion-content>

    <div class="page page--main" data-page="shop">
        <div class="row align-items-center  ">




            <div class="txt-01"> n° commande : FGD123456789</div>




            <div class="clr"></div>

            <div class="row ">
                <div class="elemento">
                    <div class="table  ">
                        <div class="  table--3cols mb-20">
                            <div class="pull-right">
                                <div class="date1">Client </div>
                                <img class="imgtlb" src="../../assets/images/p30.png"></div>


                            <div class="date2"> Khalid  </div>


                            <div class="clr"></div>
                            <div class="lineht2"></div>
                            <div class="clr"></div>
                            <div class="pull-right">
                                <div class="date1"> Date Livree </div>
                                <img class="imgtlb" src="../../assets/images/p21.png">
                            </div>
                            <div class="date2"> 15/11/2021 </div>


                            <div class="clr"></div>
                            <div class="lineht2"></div>
                            <div class="clr"></div>
                            <div class="pull-right">
                                <img class="imgtlb" src="../../assets/images/p33.png"></div>
                            <div class="date1"> N°113 Rue riyad sallam 26102 agadir
                            </div>
                            <!--  <img data-popup="my-popup" class="mapspop" src="../../assets/images/p37.png" data> -->


                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row ">
                <div class="elemento">
                    <div class="table  ">

                        <div class=" table--3cols mb-20">
                            <div class="date3"><span>X2 </span> pc portable </div>
                            <div class="clr"></div>
                            <div class="date1"> prix unitee : 5000.00 DH </div>
                            <div class="date2">Totale : 10000.00 DH </div>
                            <div class="clr"></div>

                            <div class="clr"></div>
                            <div class="lineht2"></div>
                            <div class="clr"></div>
                            <div class="date3"><span>X10 </span> ordinateur fixe </div>
                            <div class="clr"></div>
                            <div class="date1"> prix unitee : 3000.00 DH </div>
                            <div class="date2">Totale : 30000.00 DH</div>
                            <div class="clr"></div>

                            <div class="clr"></div>
                            <div class="lineht2"></div>
                            <div class="clr"></div>


                            <div class="date3"><span>x5 </span> tablet </div>
                            <div class="clr"></div>
                            <div class="date1"> prix unitee : 2000.00 DH </div>
                            <div class="date2">Totale : 1000.00 DH </div>
                            <div class="clr"></div>






                            <div class="clr"></div>
                            <div class="lineht2"></div>
                            <div class="clr"></div>


                            <div class="date3"><span>X20 </span> telephone </div>
                            <div class="clr"></div>
                            <div class="date1"> prix unitee :1000.00 DH </div>
                            <div class="date2">Totale : 2000.00 DH </div>
                            <div class="clr"></div>
                            <div class="vide1"></div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="row ">
                <div class="elemento">
                    <div class="table  ">
                        <div class=" table--3cols mb-20">

                            <div class="pull-right">
                                <div class="date1"> montant de la commande </div>
                                <div class="date2">160000.00 DH </div>
                            </div>
                            <div class="clr"></div>
                            <div class="clr"></div>
                            <div class="lineht2"></div>
                            <div class="clr"></div>
                            <div class="pull-right">

                                <div class="date1"> montant de l'avance payee </div>
                                <div class="date2">160000.00 DH </div>
                            </div>
                            <div class="clr"></div>
                            <div class="clr"></div>
                            <div class="lineht2"></div>
                            <div class="clr"></div>
                            <div class="pull-right">
                                <div class="date5"> montant le reste payee </div>
                                <div class="date5">60000.00 DH</div>
                            </div>
                            <div class="clr"></div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="clr"></div>

            <div class="buttons buttons--centered mt-20">
                <a href="#" class="btn01">Revenir</a>
            </div>


            <div class="clr"></div>
            <div class="espace3"></div>



        </div>

        <div id="my-popup" class="popup pop8">

            <img src="../../assets/images/p36.png" style="width:100%;">
        </div>



        <!-- PAGE END -->

        <!-- Social Icons Popup -->
        <div id="popup-social"></div>

        <!-- Alert -->
        <div id="popup-alert"></div>

        <!-- Notifications -->
        <div id="popup-notifications"></div>
    </div>
    <script src="../../vendor/jquery/jquery-3.5.1.min.js"></script>
    <script src="../../vendor/jquery/jquery.validate.min.js"></script>
    <script src="../../vendor/swiper/swiper.min.js"></script>
    <script src="js/swiper-init.js"></script>
    <script src="js/popup.js"></script>
    <script src="js/jquery.custom.js"></script>
</ion-content>
